<!--文件树弹出-->
<app-move-file-modal #appMoveFileModal></app-move-file-modal>
<!--输入框弹出框-->
<app-input-modal #appInputModal></app-input-modal>

<!-- 用户中心-内容 -->
<nz-content class="usercenter-content">
  <!-- 控制面板 -->
  <div class="usercenter-controlPanel">

    <!-- 控制面板-导航栏 -->
    <div class="controlPanel-navigate">
      <button class="controlPanel-button usercenter-sider__trigger-button" (click)="triggerToggle()" nz-button
              nzType="default" nz-tooltip nzTitle="切换侧边栏">
        <i class="anticon anticon-bars"></i>
      </button>
      <button class="controlPanel-button" nz-button nzType="default"
              nz-tooltip nzTitle="上一级文件夹" (click)="getFolder(folder.parent)">
        <i class="anticon anticon-rollback"></i>上一级
      </button>
      <button class="controlPanel-button" nz-button nzType="default"
              nz-tooltip nzTitle="主目录" (click)="getFolder(user.folderId)">
        <i class="anticon anticon-folder"></i>主目录
      </button>
    </div>
  </div>

  <!-- 控制面板-按钮组 -->
  <div class="controlPanel__button-group">
    <button (click)="addNewSlide()" class="controlPanel-button" nz-button nzType="default"
            nz-tooltip nzTitle="创建幻灯片">
      <i class="anticon anticon-file-add"></i>
      <span class="controlPanel-button__font">创建幻灯片</span>
    </button>

    <button (click)="addNewFolder()" class="controlPanel-button" nz-button nzType="default"
            nz-tooltip nzTitle="新建文件夹">
      <i class="anticon anticon-folder-add"></i>
      <span class="controlPanel-button__font">新建文件夹</span>
    </button>

    <button (click)="importSlide()" class="controlPanel-button" nz-button nzType="default"
            nz-tooltip nzTitle="导入幻灯片">
      <i class="anticon anticon-upload"></i>
      <span class="controlPanel-button__font">导入幻灯片</span>
    </button>
  </div>

  <!-- 用户中心-工作区 -->
  <div class="usercenter-workspace" #scrollContainer>
    <!-- 用户中心-工作区-显示区域 -->
    <div class="workspace-display" nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 8, xl: 8, xxl: 8 }">

      <!--显示区域-卡片__文件夹-->
      <div *ngFor="let child of folder.child" class="usercenter-card" nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6"
           nzXl="6">
        <nz-card [nzCover]="coverFolder" [nzActions]="[actionOpen,actionRename,actionMove]" [nzType]="'inner'"
                 [nzHoverable]="'true'" (contextmenu)="contextMenu($event,folderDropDown)">
          <nz-card-meta nzTitle={{child.folderName}}></nz-card-meta>
        </nz-card>
        <!-- 幻灯片封面 -->
        <ng-template #coverFolder>
          <!-- 生产环境 -->
          <img (click)="getFolder(child.folderId)" alt="Folder"
               src="http://www.qtu404.com/angular/assert/image/icon/folder_icon.png"/>
          <!-- 本地环境 -->
          <!--<img (click)="getFolder(child.folderId)" alt="Folder"-->
          <!--src="../assets/img/icon/folder_icon.png"/>-->
        </ng-template>
        <!-- 动作-打开 -->
        <ng-template #actionOpen>
          <div nz-tooltip nzTitle="打开文件夹" (click)="getFolder(child.folderId)">
            <i class="anticon anticon-folder-open"></i>
          </div>
        </ng-template>
        <!-- 动作-重命名 -->
        <ng-template #actionRename>
          <div nz-tooltip nzTitle="重命名" (click)="eidtFolderName(child)">
            <i class="anticon anticon-edit"></i>
          </div>
        </ng-template>
        <!-- 动作-移动文件 -->
        <ng-template #actionMove>
          <div nz-tooltip nzTitle="移动到" (click)="folderMove(child)">
            <i class="anticon anticon-arrow-right"></i>
          </div>
        </ng-template>
        <ng-template #folderDropDown>
          <ul nz-menu nzInDropDown (nzClick)="close($event)">
            <li (click)="folderMenuDelete(child.folderId)" nz-menu-item>删除文件夹</li>
          </ul>
        </ng-template>
      </div>

      <!-- 显示区域-卡片__幻灯片 -->
      <div *ngFor="let child of folder.slideVos" class="usercenter-card" nz-col nzXs="24" nzSm="12" nzMd="8"
           nzLg="6" nzXl="6">
        <nz-card [nzCover]="coverSlide" [nzActions]="[actionSpeech,actionEdit,actionRename,actionMove]"
                 [nzType]="'inner'" [nzHoverable]="'true'" (contextmenu)="contextMenu($event,slideDropDown)">
          <nz-card-meta nzTitle={{child.name}}></nz-card-meta>
        </nz-card>
        <!-- 幻灯片封面 -->
        <ng-template #coverSlide>
          <!-- 生产环境 -->
          <img (click)="playWithSync(child.slideId)" alt="Slide" alt="Slide"
               src="http://www.qtu404.com/angular/assert/image/icon/ppt_icon.png"/>
          <!-- 本地环境 -->
          <!--<img (click)="playWithSync(child.slideId)" alt="Slide" alt="Slide"-->
          <!--src="../assets/img/icon/ppt_icon.png"/>-->
        </ng-template>
        <!-- 动作-演讲 -->
        <ng-template #actionSpeech>
          <div nz-tooltip nzTitle="演讲" (click)="playWithSync(child.slideId)">
            <i class="anticon anticon-video-camera"></i>
          </div>
        </ng-template>
        <!-- 动作-编辑 -->
        <ng-template #actionEdit>
          <div nz-tooltip nzTitle="编辑" (click)="editSlide(child.slideId)">
            <i class="anticon anticon-file-ppt"></i>
          </div>
        </ng-template>
        <!-- 动作-重命名 -->
        <ng-template #actionRename>
          <div nz-tooltip nzTitle="重命名" (click)="eidtSlideName(child)">
            <i class="anticon anticon-edit"></i>
          </div>
        </ng-template>
        <!-- 动作-移动到 -->
        <ng-template #actionMove>
          <div nz-tooltip nzTitle="移动到" (click)="slideMove(child)">
            <i class="anticon anticon-arrow-right"></i>
          </div>
        </ng-template>
        <ng-template #slideDropDown>
          <ul nz-menu nzInDropDown (nzClick)="close($event)">
            <li nz-menu-item (click)="slideMenuPlay(child.slideId)">播放幻灯片</li>
            <li nz-menu-item (click)="slideMenuDelete(child.slideId)">删除幻灯片</li>
          </ul>
        </ng-template>
      </div>

      <!-- 用户显示区域-结束 -->
    </div>

    <!-- 回到顶部按钮 -->
    <nz-back-top [nzTarget]="scrollContainer"></nz-back-top>

  </div>
</nz-content>
