<!-- 考勤信息显示组件 -->
<nz-content class="usercenter-content">

  <!-- 考勤界面-用户控制按钮 -->
  <div class="usercenter-controlPanel">

    <!-- 控制面板-导航栏 -->
    <div class="controlPanel-navigate">
      <button class="controlPanel-button usercenter-sider__trigger-button" (click)="triggerToggle()" nz-button
              nzType="default" nz-tooltip nzTitle="切换侧边栏">
        <i nz-icon type="bars" theme="outline"></i>
      </button>
    </div>

  </div>

  <!-- 考勤界面-工作区 -->
  <div class="usercenter-workspace">
    <!-- 考勤界面-工作区-显示区域 -->
    <div class="workspace-display">

      <nz-table #attendanceDataTable [nzData]="attendanceDataSet" [nzShowPagination]="false" nz-row>
        <thead>
          <tr>
            <th nzShowSort nzSortKey="id">考勤 ID</th>
            <th nzShowSort nzSortKey="slideName" nzShowFilter>幻灯片名</th>
            <th nzShowSort nzSortKey="beginTime">开始时间</th>
            <th nzShowSort nzSortKey="endTime">结束时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of attendanceDataTable.data">
            <td>{{data.id}}</td>
            <td>{{data.slideName}}</td>
            <td>{{data.beginTime}}</td>
            <td>{{data.endTime}}</td>
            <td>
              <a>查看</a>
            </td>
          </tr>
        </tbody>
      </nz-table>

    </div>

  </div>
</nz-content>
